---
import Layout from '../layouts/Layout.astro';
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";
import Aboutahref from '../components/Aboutahref.astro';
---

<Layout title="Welcome to Astro Rhythm Nation">
	<Main>
		<H1 text="Rythm Nation Blog"></H1>
		<p>First up: go to <Aboutahref /> page to understand how the pages transition</p>
	</Main>
</Layout>
